__pycache__

# Files created during testing
macha/cdk2_l32/
macha/tyk2_l23/
macha/data/tyk2_l23/
macha/data/cdk2_l32/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
.vscode/settings.json
